*,
html {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  background: #fff7e6;
  height: 100vh;
  scroll-behavior: smooth; 
  display: flex;
  justify-content: center;
  align-items: center;
}

.container-login {
    background: #ffb3003e;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 54px 24px;
    border-radius: 12px;
    gap: 28px;
    -webkit-border-radius: 12px;
    -moz-border-radius: 12px;
    -ms-border-radius: 12px;
    -o-border-radius: 12px;
}

.judul-login {
    font-size: 22px;
    font-weight: 600;
}

.container-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 38px;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 24px;
}

form input {
    width: 100%;
    padding: 16px 182px 16px 22px;
    border: none;
    color: #000000be;
    font-size: 14px;
    font-weight: 500;
    background: none;
    border: 2px solid #1E1E1E;
    border-radius: 8px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -ms-border-radius: 8px;
    -o-border-radius: 8px;
}

.btn-masuk {
    width: 100%;
    background: #FFB300;
    color: #1E1E1E;
    border: none;
    padding: 14px;
    border-radius: 8px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -ms-border-radius: 8px;
    -o-border-radius: 8px;
    font-size: 18px;
    font-weight: 500;
}

.btn-masuk:hover {
    cursor: pointer;
}


.btn-daftar {
    font-size: 18px;
    font-weight: 500;
}

.btn-daftar a {
    color: #FFB300;
    text-decoration: none;
    font-weight: 600;
}

